* {
	border-radius: 0px !important;
}

body {
	font-family: "Montserrat", sans-serif;
	padding-right: 0 !important;
	overflow-x: hidden;
}

.btn-primary-custom {
	background-color: #fff;
	border: 1px solid #63a599;
	color: #63a599;
}

.btn-primary-custom:hover,
.btn-primary-custom:active,
.btn-primary-custom:focus {
	background-color: #63a599;
	border: 1px solid #63a599;
	box-shadow: none !important;
	color: #fff;
}

.modal-open {
	overflow: hidden;
	overflow-y: scroll;
	padding-right: 0 !important;
}

/* 
---------------------------------------------------------------------------
---------------------------COMMON--------------------------------------
---------------------------------------------------------------------------
*/

.fa-10x {
	font-size: 10rem;
	color: #63a599;
}

.page-sub-title h2 {
	text-transform: uppercase;
	position: relative;
	display: inline-block;
	z-index: 3;
	background: #fff;
	border: 3px solid #f4f1e3;
	padding: 1rem 1.5rem;
	font-size: 25px;
	font-weight: 400;
}
.line:after {
	border-top: 3px solid #f4f1e3;
	content: "";
	display: block;
	position: absolute;
	top: 40%;
	left: 15px;
	right: 15px;
	z-index: 1;
}

.dark-overlay {
	top: 0;
	min-height: 100%;
	min-width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}

#main-footer {
	background: #63a599;
	color: #fff;
}
/* 
---------------------------------------------------------------------------
---------------------------INDEX PAGE--------------------------------------
---------------------------------------------------------------------------
*/

/* HEADER */
#index-header {
	background: url("./../img/header.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: 0, -300px;
	min-height: 500px;
}

#index-header nav {
	position: relative;
	padding: 1rem 0;
	top: 50px;
}

#index-header .navbar-nav {
	padding: 0.5rem;
	background-color: #63a599;
	overflow: visible;
	padding-right: 800px;
	position: relative;
	right: -200px;
}

#index-header .nav-item {
	text-transform: uppercase;
	padding: 0.2rem 0.7rem;
	margin-left: 0.7rem;
	border: 1px solid #343a40;
	background-color: #63a599;
	color: #343a40;
	transition: 0.3s;
}

#index-header .nav-item:hover {
	background-color: #343a40;
	color: #fff;
	outline: none;
	border: 1px solid #343a40;
}

#index-header .nav-item:active,
#index-header .nav-item:focus {
	outline: none;
}

#motto {
	position: absolute;
	bottom: 0px;
	font-size: 30px;
	color: #fff;
}

/* SERVICES */
#index-services .service:hover {
	background-color: #63a599;
	color: #fff;
	transition: 0.3s;
}

#index-services .service:hover i {
	color: #fff;
}

/* STATISTICS */
#index-statistics-content {
	background-image: url("./../img/statistic.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: 0, -50%;
	min-height: 200px;
}

#index-statistics-content .row {
	min-height: 200px;
}

#index-statistics-content .counter {
	font-size: 48px;
	color: #fff;
}

#index-statistics-content .headline {
	color: #63a599;
}

@media (max-width: 768px) {
	#index-header .navbar-nav {
		background-color: #343a40;
		right: 0px;
	}

	#index-header .nav-item {
		background-color: #343a40;
		color: #fff;
	}

	#index-header .nav-item.active {
		font-weight: bolder;
		color: #63a599;
	}
}

/* SIGNUP & LOGIN */
.form-control {
	height: 40px;
	box-shadow: none;
	color: #969fa4;
}
.form-control:focus {
	border: 2px solid #63a599;
	box-shadow: none;
}
.form-control,
.btn {
	border-radius: 3px;
}
.signup-form {
	width: 400px;
	margin: 0 auto;
	padding: 30px 0;
}
.signup-form h2 {
	color: #636363;
	margin: 0 0 15px;
	position: relative;
	text-align: center;
}
.signup-form h2:before,
.signup-form h2:after {
	content: "";
	height: 2px;
	width: 30%;
	background: #d4d4d4;
	position: absolute;
	top: 50%;
	z-index: 2;
}
.signup-form h2:before {
	left: 0;
}
.signup-form h2:after {
	right: 0;
}
.signup-form .hint-text {
	color: #999;
	margin-bottom: 30px;
	text-align: center;
}
.signup-form form {
	color: #999;
	border-radius: 3px;
	margin-bottom: 15px;
	background: #f2f3f7;
	padding: 30px;
}
.signup-form .form-group {
	margin-bottom: 20px;
}
.signup-form input[type="checkbox"] {
	margin-top: 3px;
}
.signup-form .btn {
	font-size: 16px;
	font-weight: bold;
	min-width: 140px;
	outline: none !important;
}
.signup-form .row div:first-child {
	padding-right: 10px;
}
.signup-form .row div:last-child {
	padding-left: 10px;
}
.signup-form a {
	color: #fff;
	text-decoration: underline;
}
.signup-form a:hover {
	text-decoration: none;
}
.signup-form form a {
	color: #63a599;
	text-decoration: none;
}
.signup-form form a:hover {
	text-decoration: underline;
}
